<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">





	<!-- JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map these URLs with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>





	<!-- SPRING MVC -->
	<context-param>
	    <param-name>spring.profiles.active</param-name>
	    <param-value>prod</param-value>
	</context-param>

	<servlet>
		<servlet-name>Spring MVC Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spring MVC Servlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Spring MVC Servlet</servlet-name>
	</filter-mapping>

	<!-- CharacterEncoding Filter -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	


	<!-- Listeners -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:applicationContext.xml, /WEB-INF/spring/security.xml
		</param-value>
	</context-param>



	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>



	<!-- SPRING SECURITY -->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>Spring MVC Servlet</servlet-name>
	</filter-mapping>
	
		
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>jersey-serlvet</servlet-name>
	</filter-mapping>
	

	<!-- Spring Security Facelets tag library declaration -->
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/springsecurity.taglib.xml</param-value>
	</context-param>

	<!-- Pages -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>




	<!-- Global Context Params -->

	<!-- JSF -->

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- set to Production on production mode. -->
	<!-- Ctrl + Shift + D will pops up debugger window -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>65535</param-value> <!-- 64KB. -->
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>-1</param-value> <!-- Should be -1 for production. -->
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>





	<!-- Primefaces -->

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- OmniFaces specific settings. -->

	<context-param>
		<param-name>org.omnifaces.CACHE_SETTING_SESSION_MAX_CAPACITY</param-name>
		<param-value>6</param-value>
	</context-param>

	<!-- log4j2 -->

	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>log4j2.xml</param-value>
	</context-param>
	<context-param>
		<param-name>isLog4jContextSelectorNamed</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>log4jContextName</param-name>
		<param-value>project</param-value>
	</context-param>

	<context-param>
		<param-name>shouldCheckDefaultAuthorizations</param-name>
		<param-value>true</param-value>
	</context-param>




	<filter>
		<filter-name>FarsiTypeFilter</filter-name>
		<filter-class>com.jedlab.framework.web.FarsiTypeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FarsiTypeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>FarsiLocaleFilter</filter-name>
		<filter-class>com.jedlab.framework.web.FarsiLocaleFilter</filter-class>
		<init-param>
			<param-name>locale</param-name>
			<param-value>fa</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FarsiLocaleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Jersey Spring -->
	
	<servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.jedlab.pm.rest</param-value>
        </init-param>
        <!-- <init-param>
        	<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
        	<param-value>com.cloudst.cfs.util.cors.ResponseCorsFilter</param-value>
        </init-param> -->
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/app/rest/*</url-pattern>
    </servlet-mapping>


	<display-name>project</display-name>


	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Allowed
				resources</web-resource-name>
			<url-pattern>/javax.faces.resource/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<display-name>Restrict direct access to XHTML files</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML files</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>


	<!-- Error Pages -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/error.xhtml</location>		
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error.xhtml</location>
	</error-page>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/WEB-INF/views/error.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.orm.jpa.JpaOptimisticLockingFailureException</exception-type>
		<location>/WEB-INF/views/error.xhtml</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error.xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/WEB-INF/views/error.xhtml</location>
	</error-page>





</web-app>