<html>
<body>
<h3>Hi ${username}, welcome to the JEDLab!</h3>

<div>
    please verify account
</div>

<br/>
<a href="http://localhost:8081/webapp/app/users/activate?c=${code}">فعالسازی</a>
<br/>

</body>
</html>
